# macOS
.DS_Store

# Python
__pycache__/
*.pyc
venv/
.venv/

# Secrets (create from secrets.json.template)
app/secrets.json

# Downloaded photos
app/static/photos/*
!app/static/photos/.gitkeepstatic/photos_backup/
