[Unit]
Description=InstaPi Kiosk Browser
After=instapi.service network.target
Wants=instapi.service

[Service]
Type=simple
User=pi
Environment=DISPLAY=:0
ExecStartPre=/bin/sleep 5
ExecStart=/bin/bash -c 'xinit /usr/bin/chromium-browser --kiosk --noerrdialogs --disable-infobars --disable-session-crashed-bubble --disable-restore-session-state --disable-features=TranslateUI --no-first-run --start-fullscreen http://localhost:3000 -- :0 -nocursor'
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
