[Unit]
Description=InstaPi Photo Frame
After=network.target instapi-wifi.service

[Service]
Type=simple
User=@@USER@@
WorkingDirectory=@@HOME@@/instapi/app
Environment=PATH=@@HOME@@/instapi/app/venv/bin
ExecStart=@@HOME@@/instapi/app/venv/bin/python main.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
